POSTGRES_DB=""
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"
GRAPHQL_URL="http://localhost:3000/api/graphql"